html,
body {
  height: 100%;
  /* 文字风格 Sans-serif 各笔画粗细相同，Serif 笔画粗细不同，monospace 等宽体，cursive草书，fantasy梦幻 */
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  color: #333;
}

/* 重置各标签的默认样式 */
a,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
input,
label,
legend,
li,
mark,
ol,
p,
section,
span,
textarea,
time,
td,
th,
ul {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
  /*  自动换行 */
  word-wrap: break-word;
  /*  强制英文单词断行 */
  word-break: break-all;
}

/*  设置标签为块级分类 */
article,
aside,
details,
fieldset,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* 去除input标签的默认样式 */
button,
input,
textarea {
  -webkit-appearance: none;
  font-family: "Microsoft YaHei", sans-serif, "Helvetica Neue", Helvetica, Arial,
    "黑体", "宋体", Arial;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  outline: none;
  background-color: transparent;
}

/*  禁止多文本框手动拖动大小 */
textarea {
  resize: none;
  -webkit-appearance: none;
}

/* 去掉按下的阴影盒子 */
input,
textarea,
a {
  -webkit-tap-highlight-color: transparent;
}

/*  清除a标签下划线 */
a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: none;
}

/*  清除列表前面的点 */
ol,
li,
ul {
  list-style: none;
}

/*  清除IE下图片的边框 */
img {
  border-style: none;
  font-size: 0;
}

/*  解决chrome浏览器默认黄色背景问题 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

/*  设置默认滚动条样式 */
::-webkit-input-placeholder {
  color: #afbdcc;
}

:-moz-placeholder {
  color: #afbdcc;
}

::-moz-placeholder {
  color: #afbdcc;
}

:-ms-input-placeholder {
  color: #afbdcc;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  background-position: bottom right;
}

.articles {
  line-height: 30px;
  word-break: break-word;

  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin: 1rem 0;
    line-height: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
    margin: 1.2rem 0;
    line-height: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
    margin: 1rem 0;
    line-height: 1.2rem;
  }

  h6 {
    font-size: 1rem;
    margin: 0.8rem 0;
    line-height: 1rem;
  }

  strong {
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px 5px;
    font-weight: normal;
    line-height: 18px;
    text-indent: 0;
  }

  blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    p {
      margin-bottom: 0;
    }

    ol, ul {
      padding-bottom: 0;
    }
  }

  code {
    font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro,
      Droid Sans Mono, Menlo, Monaco, Consolas, Inconsolata, Courier, monospace,
      PingFang SC, Microsoft YaHei, sans-serif;
  }

  pre {
    position: relative;
    padding: 8px 16px 6px 16px;
    line-height: 1.5rem;
    overflow: auto;
    max-height: 500px;
  }

  p {
    margin-bottom: 16px;
  }

  em {
    word-break: break-word;
    code {
      word-break: break-word;
    }
  }

  p > code, li > code {
    word-break: break-word;
    border-radius: 0.2rem;
    padding: 0.15rem 0.375rem;
    margin: 0 0.2rem;
  }

  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }

  ul:not(.el-pager, .article-list) {
    padding: 0 20px 20px;
    list-style: square;
    li {
      list-style: square;
      margin: 0.5rem 0;
      word-break: break-word;
    }
  }

  ol {
    padding: 0 20px 20px;
    list-style: decimal;
    li {
      list-style: decimal;
      margin: 0.5rem 0;
      word-break: break-word;
    }
  }

  kbd {
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2px;
    white-space: nowrap;
  }
}

.aside-left,
.aside-right {
  .navigation {
    user-select: none;
    text-align: left;
  }
}

.navigation {
  font-size: 18px;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  .subnavigation {
    font-size: 16px;

    .subnavigation {
      font-size: 14px;

      .subnavigation {
        font-size: 12px;

        .subnavigation {
          font-size: 10px;
        }
      }
    }
  }

  .router-link-active.router-link-exact-active {
    font-weight: bold !important;
  }

  ul {
    margin-left: 0.8rem;
  }

  li {
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .active-hash {
    font-weight: 600;
  }
}

.aside-left {

  .navigation .subnavigation li a {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    border-left: 2px solid;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 960px) {
  .aside-left,
  .aside-right {
    display: none !important;
  }
  .articles {
    width: calc(100% - 20px) !important;
    padding: 0 10px;
  }
}

.el-pagination {
  padding-top: 20px;
  justify-content: center;
}
