// 常量
@white-color: rgba(255, 255, 255, 1);
@white-color-85: rgba(255, 255, 255, 0.85);
@white-color-65: rgba(255, 255, 255, 0.65);
@white-color-25: rgba(255, 255, 255, 0.25);
@black-color: rgba(0, 0, 0, 1);
@black-color-85: rgba(0, 0, 0, 0.85);
@black-color-65: rgba(0, 0, 0, 0.65);
@black-color-45: rgba(0, 0, 0, 0.45);
@black-color-25: rgba(0, 0, 0, 0.25);

// 浅色主题
@primary-color: rgb(23, 133, 207);
@primary-color-25: rgba(23, 133, 207, 0.25);
@primary-color-45: rgba(23, 133, 207, 0.45);
@primary-color-65: rgba(23, 133, 207, 0.65);
@primary-color-85: rgba(23, 133, 207, 0.85);
@font-color: #36332e;
@header-color: #fff;
@blockquote-bg-color: #f1f1f1;
@pre-bg-color: #282c34;
@strong-bg-color: #f0ba07;
@important-color: #e40f0fe8;
@router-link-active-color: rgba(23, 133, 207, 1);
@link-color: rgba(23, 133, 207, 0.85);
@navigation-default-border-color: #e5e7eb;
@navigation-active-border-color: rgba(23, 133, 207, 1);
@p-code-bg-color: #dbd9d7fb;
@global-search-bg-color: #f5f6f7;
@global-search-boxshadow-color1: #ffffff80;
@global-search-boxshadow-color2: #555a64;

// 深色主题
[theme='dark'] {

}